<h1 id="mainHeader" class="mainText">Pulse</h1>
<%if current_user%>
  <p class="mainText">Welcome back, <%= current_user.username%></p>
<%end%>
<%= render partial: 'pulsechannel_form', locals: {pulsechannel: @pulsechannel, admright: @admright} %>
<div id="map"></div>


<div id="data_channels" data-channel-data="<%= @channels.to_json %>">

<script>
  gon.inChannel = undefined
  var channelsAll = $('#data_channels').data('channel-data')

  $('#create-channel-form').click(function(){
    $('#create-channel-dropdown').slideDown( "slow");
    $('#add-location-dropdown').slideDown( "slow");
  })

  $('#eventTimePicker').datetimepicker()

  $('.new_pulsechannel').submit( function(){
    var eventStartTime = $('#eventTimePicker').val()
  })
</script>
