<h1 id="mainHeader" class="mainText">Pulse</h1>
<%if current_user%>
  <p class="mainText">Welcome back, <%= current_user.username%></p>
<%end%>
<%= render partial: 'pulsechannel_form', locals: {pulsechannel: @pulsechannel} %>
<div id="map"></div>
