<div class="card card-panel waves-effect">
  <p><strong><%=post.user.username%>:</strong><br>
    <%=post.message%>
  </p>
  <% if post.image %>
    <img class="img" src="<%=post.image%>">
  <% end %>
  <hr id="timeBorder">
  <p id="postTime"><%=post.created_at.to_formatted_s(:short)%></p>
</div>
