/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Welcome page*/
#mainHeader{
  font-family: "Europa";
  font-size: 120px
}

.mainText {
  text-align: center;
}

.europa{
  font-family: "Europa";
}

.navBarHead {
  font-size: 25px !important;
}

/*Pulse channels index page*/
.tagPulse {
  display: inline-block;
  padding: .5em .5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  background-color: lightblue;
  float: right;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

/*Individual channel page*/
.card {
  width: 160px;
  padding: 20px 20px;
  border-radius: 2vw;
  background: radial-gradient(circle at bottom,#fff,hsla(0,0%,100%,0))
}

.card {
  background-color: rgb(105, 170, 182) ;
}

.cards {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  text-align: center;
}

#channelHeader {
  text-align: center;
  font-family: "Garamond";
  font-weight: bold;
  font-size: 6em;
}

#postTime {
  font-size: 0.85em;
  font-style: italic;
  margin-bottom: -5px;
  margin-top: -17px;
}

#timeBorder {
  border-color: #999;
}
